<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='student_dashboard.css') }}">
   
</head>
<body>
    <h1>Welcome, {{ student_username }}</h1>
    <h2>Attendance Data</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Attendance Percentage</th>
            </tr>
        </thead>
        <tbody>
            {% for subject, attendance_percentage in attendance_data.items() %}
            <tr>
                <td>{{ subject }}</td>
                <td>{{ attendance_percentage }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Logout</a>
</body>
</html>
